header {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
}
nav {
  width: 1280px;
  display: flex;
  position: relative;
}
.profile {
  position: absolute;
  right: 0;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.constructor {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #f2f2f3;
}
.constructor div {
  display: flex;
  justify-content: center;
  align-items: center;
}